@charset "utf-8";

@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "GowunDodum-Regular";
  color: #fff;
  background: #000;
  scroll-snap-type: y mandatory;
  font-size: 12px;
}

.logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
.item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
}

#item-1 {
  background: url("assets/img/hhh-35.jpg") center center;
  background-size: cover;
}
#item-2 {
  background: url("assets/img/hhh-2.jpg") center center;
  background-size: cover;
}
#item-3 {
  background: url("assets/img/hhh-17.jpg") center center;
  background-size: cover;
}
#item-4 {
  background: url("assets/img/hhh-1.jpg") center center;
  background-size: cover;
}
#item-5 {
  background: url("assets/img/hhh2-3.jpg") center center;
  background-size: cover;
}
#item-6 {
  background: url("assets/img/hhh2-10.jpg") center center;
  background-size: cover;
}
#item-7 {
  background: url("assets/img/hhh-13.jpg") center center;
  background-size: cover;
}
#item-8 {
  background: url("assets/img/hhh2-16.jpg") center center;
  background-size: cover;
}
#item-9 {
  background: yellow;
}
#item-10 {
  background: url("assets/img/hhh-21.jpg") center center;
  background-size: cover;
}
#item-11 {
  background: skyblue;
}
#item-12 {
  background: black;
}
#item-13 {
  background: black;
}
.item .top {
  text-align: center;
  width: 100%;
  height: 50%;
}
.item .bottom {
  text-align: center;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.item .bottom p {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  word-break: keep-all;
  white-space: normal;
}
.item .bottom h2 {
  font-weight: normal;
  margin-bottom: 15px;
}
.booking a {
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
}
.booking a:hover {
  background: #fff;
  color: #000;
}
.scrollinfo {
  padding: 10px 0;
}
.scrollinfo a {
  text-decoration: none;
  color: #fff;
}
.scrollinfo i {
  padding: 10px 0;
}
.scrollinfo .xi-mouse {
  font-size: 20px;
}
.scrollinfo .xi-angle-down-thin {
  animation-name: down;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  font-size: 16px;
}
.smoothBox {
  width: 30px;
  height: 30px;
  background: url("assets/img/logo.png") center center;
  background-size: 30px 30px;
  position: fixed;
  margin-top: -50px;
}

@keyframes down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(11px);
  }
}
